
@font-face{
  font-family:'Exo';
  src: url('Exo-Light.ttf');
}

@import "compass/css3";

/* -------------------- LAYOUT -------------------- */
html,
body {
  height: auto;
  min-height: 100%;
}

body {
 background-image: url("../images/background_360.png");
 background-size: cover;
 background-repeat: repeat;
 width: 100%;
}

.logo{
  margin-top: 0px;
  margin-left: 20px;
}

h1{
  color: white;
  font-family: 'exo', sans-serif;
  text-align: center;
}

#API1{
  background-color: white;
  font-family: 'exo', sans-serif;
  height: 450px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.kop{
  color: lightblue;
}

#API2{
  background-color: white;
  font-family: 'exo', sans-serif;
  height: 450px;
  text-align: center;
  margin-top: 50px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 50px;
}

.flex-containerData{
  display: inline;
}

.flex-itemAPI2{
  margin-left: 0%;
}

h2{
  background-color: lightblue;
  text-align: center;
  height: 40px;
  margin-top: 0px;
  padding: 15px;
  font-size: 20px;
}

fieldset{
  border: none;
}

#picture{
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

#landing{
  width: 70%;
  background-color: grey;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-left: 12%;
  margin-top: 20px;
  padding: 10px;
}

#weather{
  background-color: lightblue;
  width: 50%;
  margin-left: 25%;
  border-style: double;
}

#flag{
  width: 10%;
}

/* -------------------- LAYOUT -------------------- */

/* -------------------- MEDIA SIZE -------------------- */

/*Breakpoint naar tablet*/
@media only screen and (min-width: 768px){

  body{
    min-width: 768px;
    width: 100%;
  }

  body{
    background-image: url("../images/background_768.png");
    background-repeat: repeat;
    width: 100%;
  }

  .grid-containerHeader{
    display: flex;
  }

}
/*Breakpoint naar laptop*/
@media only screen and (min-width: 1366px){

  body{
    min-width: 1366px;
    width: 100%;
  }

  body{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }

  body{
    background-image: url("../images/background_1366.png");
    background-repeat: repeat;
    width: 100%;
    }

  .logo{
    margin-left: 0px;
  }

  .flex-containerData{
    display: flex;
    margin-top: 20%;
    margin-left: -90%;
  }

  .flex-itemAPI2{
    column: 2;
  }

  #API1{
    float: right;
    width: 45%;
    margin-top: 50px;
    margin-left: -2%;
  }

  #API2{
    width: 45%;
  }

}
/*Breakpoint naar desktop*/
@media only screen and (min-width: 1920px) and (max-width: 1920px){

  body{
    width: 100%;
    max-width: 1920px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    background-image: url("../images/background_1920.png");
    background-repeat: repeat;
    }

    .flex-containerData{
      margin-left: -90%;
    }

    #API1{
      float: right;
      width: 45%;
    }

    #API2{
      width: 45%;
    }

}
/* -------------------- MEDIA SIZE -------------------- */
